Node-RED/Flow with firebase config.json
[
    {
        "id": "d61ffb424799eafe",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "46df2d1491ac4f80",
        "type": "addFirebase",
        "z": "d61ffb424799eafe",
        "firebaseCertificate": "18a308963601c339",
        "client_email": "",
        "private_key": "",
        "data": "",
        "childpath": "Temperatura",
        "propertyType": "str",
        "method": "push",
        "newchildpath": "",
        "x": 660,
        "y": 300,
        "wires": [
            [
                "18ec9aa27c640d4d"
            ]
        ]
    },
    {
        "id": "18ec9aa27c640d4d",
        "type": "debug",
        "z": "d61ffb424799eafe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "09aeef57d3732b7d",
        "type": "inject",
        "z": "d61ffb424799eafe",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "560",
        "payloadType": "str",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "46df2d1491ac4f80"
            ]
        ]
    },
    {
        "id": "51b19aa7060e2b86",
        "type": "inject",
        "z": "d61ffb424799eafe",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "21",
        "payloadType": "str",
        "x": 360,
        "y": 380,
        "wires": [
            [
                "1d30c1d9113aa7d8"
            ]
        ]
    },
    {
        "id": "1d30c1d9113aa7d8",
        "type": "addFirebase",
        "z": "d61ffb424799eafe",
        "firebaseCertificate": "18a308963601c339",
        "client_email": "",
        "private_key": "",
        "data": "",
        "childpath": "Vento",
        "propertyType": "str",
        "method": "push",
        "newchildpath": "",
        "x": 650,
        "y": 380,
        "wires": [
            [
                "10b5dc62deb3a313"
            ]
        ]
    },
    {
        "id": "10b5dc62deb3a313",
        "type": "debug",
        "z": "d61ffb424799eafe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 380,
        "wires": []
    },
    {
        "id": "4267cd08fccc83f4",
        "type": "inject",
        "z": "d61ffb424799eafe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "str",
        "x": 360,
        "y": 460,
        "wires": [
            [
                "0e95adcb0d12f268"
            ]
        ]
    },
    {
        "id": "0e95adcb0d12f268",
        "type": "addFirebase",
        "z": "d61ffb424799eafe",
        "firebaseCertificate": "18a308963601c339",
        "client_email": "",
        "private_key": "",
        "data": "",
        "childpath": "Iluminacao",
        "propertyType": "str",
        "method": "push",
        "newchildpath": "",
        "x": 650,
        "y": 460,
        "wires": [
            [
                "a09f28a014e0b62b"
            ]
        ]
    },
    {
        "id": "a09f28a014e0b62b",
        "type": "debug",
        "z": "d61ffb424799eafe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 460,
        "wires": []
    },
    {
        "id": "1b6bf76ec7c39bf8",
        "type": "addFirebase",
        "z": "d61ffb424799eafe",
        "firebaseCertificate": "18a308963601c339",
        "client_email": "",
        "private_key": "",
        "data": "",
        "childpath": "Iluminacao",
        "propertyType": "str",
        "method": "get",
        "newchildpath": "",
        "x": 560,
        "y": 640,
        "wires": [
            [
                "921fc28eb00f4d50"
            ]
        ]
    },
    {
        "id": "edda5ceed3770860",
        "type": "inject",
        "z": "d61ffb424799eafe",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 350,
        "y": 640,
        "wires": [
            [
                "1b6bf76ec7c39bf8"
            ]
        ]
    },
    {
        "id": "921fc28eb00f4d50",
        "type": "debug",
        "z": "d61ffb424799eafe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "18a308963601c339",
        "type": "firebaseCertificate",
        "firebaseurl": "poasmartcity-default-rtdb",
        "loginType": "none"
    }
]