Node-RED/flows.json
[{"id":"2d25f8e4.8b727","type":"serial in","z":"ea946ade.6a0b28","name":"Arduino","serial":"889d4fd1.8a245","x":230,"y":280,"wires":[["4a41fdc2.8c2fc4","4b01410f.ef53a8","763e41dd.a9d71","903666b4.924ab8"]]},{"id":"9fb674f8.ab22c","type":"mqtt out","z":"ea946ade.6a0b28","name":"Wind Speed","topic":"poasmartcity/vel_vento","qos":"","retain":"","broker":"17e66e49.ae383a","x":970,"y":200,"wires":[]},{"id":"fd23d2e7.64e4a","type":"function","z":"ea946ade.6a0b28","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":460,"wires":[["846a20d0.02e0b"]]},{"id":"d6eebd86.8e0ee8","type":"mqtt in","z":"ea946ade.6a0b28","name":"Wind Speed","topic":"poasmartcity/vel_vento","qos":"2","datatype":"auto","broker":"17e66e49.ae383a","x":350,"y":520,"wires":[["fd23d2e7.64e4a","e8c6297e.ebfac"]]},{"id":"4b01410f.ef53a8","type":"function","z":"ea946ade.6a0b28","name":"FunctionVento","func":"p = JSON.parse(msg.payload);\nmsg.payload = p.vento;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":220,"wires":[["9fb674f8.ab22c","2210b00f.95ad9"]]},{"id":"342a2f83.0711a","type":"mqtt out","z":"ea946ade.6a0b28","name":"Temp","topic":"poasmartcity/temp","qos":"","retain":"","broker":"17e66e49.ae383a","x":970,"y":300,"wires":[]},{"id":"70ca4928.76dd7","type":"mqtt out","z":"ea946ade.6a0b28","name":"Lux","topic":"poasmartcity/lux","qos":"","retain":"","broker":"17e66e49.ae383a","x":970,"y":380,"wires":[]},{"id":"763e41dd.a9d71","type":"function","z":"ea946ade.6a0b28","name":"functionTemp","func":"p = JSON.parse(msg.payload);\nmsg.payload = p.temp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":300,"wires":[["342a2f83.0711a"]]},{"id":"903666b4.924ab8","type":"function","z":"ea946ade.6a0b28","name":"functionLight","func":"p = JSON.parse(msg.payload);\nmsg.payload = p.light;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":380,"wires":[["70ca4928.76dd7"]]},{"id":"45d40bd5.08cacc","type":"mqtt in","z":"ea946ade.6a0b28","name":"Temp","topic":"poasmartcity/temp","qos":"2","datatype":"auto","broker":"17e66e49.ae383a","x":330,"y":620,"wires":[["b8bd636d.522c98"]]},{"id":"eb16c0bf.0b9ac8","type":"mqtt in","z":"ea946ade.6a0b28","name":"Lux","topic":"poasmartcity/lux","qos":"2","datatype":"auto","broker":"17e66e49.ae383a","x":330,"y":700,"wires":[["b25ba33.ab6a26"]]},{"id":"b25ba33.ab6a26","type":"ui_text","z":"ea946ade.6a0b28","group":"2b1aa610.3e3f3a","order":1,"width":"8","height":"2","name":"","label":"Luminosidade","format":"{{value}} Lux","layout":"col-center","x":560,"y":700,"wires":[]},{"id":"e8c6297e.ebfac","type":"ui_gauge","z":"ea946ade.6a0b28","name":"","group":"2b1aa610.3e3f3a","order":1,"width":"8","height":"4","gtype":"gage","title":"Velocidade do vento","label":"units","format":"{{value}} Km/h","min":"0","max":"100","colors":["#a1d987","#f8db49","#c74848"],"seg1":"30","seg2":"70","x":600,"y":540,"wires":[]},{"id":"4a41fdc2.8c2fc4","type":"debug","z":"ea946ade.6a0b28","name":"TestingArduino","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":140,"wires":[]},{"id":"2210b00f.95ad9","type":"debug","z":"ea946ade.6a0b28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":100,"wires":[]},{"id":"b8bd636d.522c98","type":"ui_text","z":"ea946ade.6a0b28","group":"2b1aa610.3e3f3a","order":3,"width":"8","height":"2","name":"","label":"Temperatura","format":"{{value}} Cº","layout":"col-center","x":570,"y":620,"wires":[]},{"id":"846a20d0.02e0b","type":"twitter out","z":"ea946ade.6a0b28","twitter":"","name":"Tweet","x":810,"y":460,"wires":[]},{"id":"889d4fd1.8a245","type":"serial-port","z":"ea946ade.6a0b28","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"1000","bin":"false","out":"time","addchar":"","responsetimeout":"10000"},{"id":"17e66e49.ae383a","type":"mqtt-broker","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2b1aa610.3e3f3a","type":"ui_group","name":"Vento","tab":"4e69e665.ae5f18","order":1,"disp":true,"width":"6","collapse":false},{"id":"4e69e665.ae5f18","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]