Node-RED/flowsComValorCerto.json
[{"id":"e1bad8c2.9c4f18","type":"tab","label":"nac4","disabled":false,"info":""},{"id":"7b5a9320.35d224","type":"serial in","z":"e1bad8c2.9c4f18","name":"Arduino","serial":"5bc8461443c0461d","x":230,"y":280,"wires":[["089ccb824d68466d","e22d1a16.5fe0a8","90f52b4c.b3b15","50842ab4.07ce1c"]]},{"id":"62b6214b.322ff8","type":"mqtt out","z":"e1bad8c2.9c4f18","name":"Wind Speed","topic":"poasmartcity/vel_vento","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"17e66e49.ae383a","x":970,"y":200,"wires":[]},{"id":"d0a01e6f.385138","type":"function","z":"e1bad8c2.9c4f18","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":460,"wires":[["c52c790f.4bcbf"]]},{"id":"ef98176.bf331e8","type":"mqtt in","z":"e1bad8c2.9c4f18","name":"Wind Speed","topic":"poasmartcity/vel_vento","qos":"2","datatype":"auto","broker":"17e66e49.ae383a","nl":false,"rap":true,"rh":0,"x":370,"y":460,"wires":[["d0a01e6f.385138","70b4e0e6.658c38","e13eab578de8f390"]]},{"id":"e22d1a16.5fe0a8","type":"function","z":"e1bad8c2.9c4f18","name":"FunctionVento","func":"p = JSON.parse(msg.payload);\nmsg.payload = p.vento;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":220,"wires":[["62b6214b.322ff8","73e16de2b881b677"]]},{"id":"8c9ee493.9e79d8","type":"mqtt out","z":"e1bad8c2.9c4f18","name":"Temp","topic":"poasmartcity/temp","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"17e66e49.ae383a","x":970,"y":300,"wires":[]},{"id":"482754a9.9a9f34","type":"mqtt out","z":"e1bad8c2.9c4f18","name":"Lux","topic":"poasmartcity/lux","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"17e66e49.ae383a","x":970,"y":380,"wires":[]},{"id":"90f52b4c.b3b15","type":"function","z":"e1bad8c2.9c4f18","name":"functionTemp","func":"p = JSON.parse(msg.payload);\nmsg.payload = p.temp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":300,"wires":[["8c9ee493.9e79d8"]]},{"id":"50842ab4.07ce1c","type":"function","z":"e1bad8c2.9c4f18","name":"functionLight","func":"p = JSON.parse(msg.payload);\nmsg.payload = p.light;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":380,"wires":[["482754a9.9a9f34"]]},{"id":"b3db545e.d47ec","type":"mqtt in","z":"e1bad8c2.9c4f18","name":"Temp","topic":"poasmartcity/temp","qos":"2","datatype":"auto","broker":"17e66e49.ae383a","nl":false,"rap":true,"rh":0,"x":350,"y":540,"wires":[["70b4e0e6.658c38"]]},{"id":"e8e33fe4.276508","type":"mqtt in","z":"e1bad8c2.9c4f18","name":"Lux","topic":"poasmartcity/lux","qos":"2","datatype":"auto","broker":"17e66e49.ae383a","nl":false,"rap":true,"rh":0,"x":350,"y":620,"wires":[["70b4e0e6.658c38"]]},{"id":"70b4e0e6.658c38","type":"ui_text","z":"e1bad8c2.9c4f18","group":"2b1aa610.3e3f3a","order":1,"width":0,"height":0,"name":"","label":"Teste","format":"{{msg.payload}}","layout":"col-center","x":610,"y":780,"wires":[]},{"id":"c52c790f.4bcbf","type":"twitter out","z":"e1bad8c2.9c4f18","twitter":"","name":"Tweet","x":820,"y":460,"wires":[]},{"id":"e13eab578de8f390","type":"ui_gauge","z":"e1bad8c2.9c4f18","name":"","group":"2b1aa610.3e3f3a","order":1,"width":0,"height":0,"gtype":"gage","title":"Velocidade do vento","label":"units","format":"{{value}}","min":"-33","max":"100","colors":["#97d397","#dca0f3","#cc8e8e"],"seg1":"","seg2":"","x":820,"y":600,"wires":[]},{"id":"089ccb824d68466d","type":"debug","z":"e1bad8c2.9c4f18","name":"TestingArduino","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":180,"y":500,"wires":[]},{"id":"73e16de2b881b677","type":"debug","z":"e1bad8c2.9c4f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":100,"wires":[]},{"id":"5bc8461443c0461d","type":"serial-port","z":"e1bad8c2.9c4f18","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"1000","bin":"false","out":"time","addchar":"","responsetimeout":"10000"},{"id":"17e66e49.ae383a","type":"mqtt-broker","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2b1aa610.3e3f3a","type":"ui_group","name":"Informações do clima","tab":"4e69e665.ae5f18","order":1,"disp":true,"width":"6","collapse":false},{"id":"4e69e665.ae5f18","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]