Node-RED/flows.json
[{"id":"c83f3edb.1885e8","type":"tab","label":"nac4","disabled":false,"info":""},{"id":"73135f26.21f1e","type":"serial in","z":"c83f3edb.1885e8","name":"Arduino","serial":"c70fb049.543478","x":390,"y":380,"wires":[["32760382.b8283c","c4263da5.0c8258","b433fbb2.774cc"]]},{"id":"196eb416.d914ec","type":"mqtt out","z":"c83f3edb.1885e8","name":"Wind Speed","topic":"poasmartcity/vel_vento","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"17e66e49.ae383a","x":890,"y":260,"wires":[]},{"id":"3cbdcc3.2668c34","type":"function","z":"c83f3edb.1885e8","name":"functionVentoTwitter","func":"if(msg.payload >= 80) {\n    varr = msg.payload;\n    msg.payload =  'Alerta de ventos fortes, a velocidade em Km/h atual do vento é: ' + varr;\n    return msg;\n} ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":680,"wires":[["868c3577.148b5"]]},{"id":"d66226ce.54627","type":"mqtt in","z":"c83f3edb.1885e8","name":"Wind Speed","topic":"poasmartcity/vel_vento","qos":"2","datatype":"auto","broker":"17e66e49.ae383a","nl":false,"rap":true,"rh":0,"x":410,"y":740,"wires":[["c21e82e9.98b61","3cbdcc3.2668c34"]]},{"id":"32760382.b8283c","type":"function","z":"c83f3edb.1885e8","name":"FunctionVento","func":"p = JSON.parse(msg.payload);\nmsg.payload = p.vento;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":280,"wires":[["196eb416.d914ec","44cd3141.289558"]]},{"id":"e55d5265.808a7","type":"mqtt out","z":"c83f3edb.1885e8","name":"Temp","topic":"poasmartcity/temp","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"17e66e49.ae383a","x":870,"y":420,"wires":[]},{"id":"f65da1ca.b4176","type":"mqtt out","z":"c83f3edb.1885e8","name":"Lux","topic":"poasmartcity/lux","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"17e66e49.ae383a","x":870,"y":540,"wires":[]},{"id":"c4263da5.0c8258","type":"function","z":"c83f3edb.1885e8","name":"functionTemp","func":"p = JSON.parse(msg.payload);\nmsg.payload = p.temp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":380,"wires":[["e55d5265.808a7","53839725.8d717"]]},{"id":"b433fbb2.774cc","type":"function","z":"c83f3edb.1885e8","name":"functionLight","func":"p = JSON.parse(msg.payload);\nmsg.payload = p.light;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":500,"wires":[["f65da1ca.b4176","6cb87781.a4e948"]]},{"id":"a1da9223.7736","type":"mqtt in","z":"c83f3edb.1885e8","name":"Temp","topic":"poasmartcity/temp","qos":"2","datatype":"auto","broker":"17e66e49.ae383a","nl":false,"rap":true,"rh":0,"x":390,"y":840,"wires":[["bd82747e.240aa8"]]},{"id":"d6b35822.b06588","type":"mqtt in","z":"c83f3edb.1885e8","name":"Lux","topic":"poasmartcity/lux","qos":"2","datatype":"auto","broker":"17e66e49.ae383a","nl":false,"rap":true,"rh":0,"x":390,"y":920,"wires":[["6f1bd2f.3af1f2c"]]},{"id":"6f1bd2f.3af1f2c","type":"ui_text","z":"c83f3edb.1885e8","group":"bf9e53ea.1e7cf","order":1,"width":"6","height":"2","name":"","label":"Luminosidade","format":"{{value}} Lux","layout":"col-center","x":620,"y":920,"wires":[]},{"id":"20db14b8.02a4d4","type":"twitter out","z":"c83f3edb.1885e8","twitter":"","name":"Tweet","x":1050,"y":680,"wires":[]},{"id":"c21e82e9.98b61","type":"ui_gauge","z":"c83f3edb.1885e8","name":"","group":"bf9e53ea.1e7cf","order":1,"width":"6","height":"4","gtype":"gage","title":"Velocidade do vento","label":"units","format":"{{value}} Km/h","min":"0","max":"100","colors":["#a1d987","#f8db49","#c74848"],"seg1":"30","seg2":"70","x":660,"y":760,"wires":[]},{"id":"bd82747e.240aa8","type":"ui_text","z":"c83f3edb.1885e8","group":"bf9e53ea.1e7cf","order":3,"width":"6","height":"2","name":"","label":"Temperatura","format":"{{value}} Cº","layout":"col-center","x":630,"y":840,"wires":[]},{"id":"868c3577.148b5","type":"rbe","z":"c83f3edb.1885e8","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","x":910,"y":680,"wires":[["20db14b8.02a4d4"]]},{"id":"86f04ecc.e8ce08","type":"addFirebase","z":"c83f3edb.1885e8","firebaseCertificate":"64edffe7.b85d68","client_email":"","private_key":"","data":"","childpath":"Vento","propertyType":"str","method":"push","newchildpath":"","x":1440,"y":200,"wires":[[]]},{"id":"44cd3141.289558","type":"function","z":"c83f3edb.1885e8","name":"TransformStringVento","func":"const varr = msg.payload.toString();\nmsg.payload = varr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":200,"wires":[["813eca4e.963ca8"]]},{"id":"53839725.8d717","type":"function","z":"c83f3edb.1885e8","name":"TransformStringTemp","func":"const varr = msg.payload.toString();\nmsg.payload = varr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":340,"wires":[["a07bb7be.1251"]]},{"id":"6cb87781.a4e948","type":"function","z":"c83f3edb.1885e8","name":"TransformStringLux","func":"\nconst varr = msg.payload.toString();\nmsg.payload = varr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":480,"wires":[["368fb2b6.95f90e"]]},{"id":"ad614596.2c223","type":"addFirebase","z":"c83f3edb.1885e8","firebaseCertificate":"64edffe7.b85d68","client_email":"","private_key":"","data":"","childpath":"Temperatura","propertyType":"str","method":"push","newchildpath":"","x":1440,"y":340,"wires":[[]]},{"id":"22337b3.1a5e304","type":"addFirebase","z":"c83f3edb.1885e8","firebaseCertificate":"64edffe7.b85d68","client_email":"","private_key":"","data":"","childpath":"Iluminacao","propertyType":"str","method":"push","newchildpath":"","x":1440,"y":480,"wires":[[]]},{"id":"813eca4e.963ca8","type":"delay","z":"c83f3edb.1885e8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1200,"y":200,"wires":[["86f04ecc.e8ce08"]]},{"id":"a07bb7be.1251","type":"delay","z":"c83f3edb.1885e8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1200,"y":340,"wires":[["ad614596.2c223"]]},{"id":"368fb2b6.95f90e","type":"delay","z":"c83f3edb.1885e8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1200,"y":480,"wires":[["22337b3.1a5e304"]]},{"id":"49a07f55.a1043","type":"comment","z":"c83f3edb.1885e8","name":"Explicação nódulo RBE","info":"O nódulo RBE foi criado para que seja postado no twitter apenas quando os valores do anemômetro mudarem,para não gastar recursos postando toda hora a mesma informação.","x":910,"y":720,"wires":[]},{"id":"c543a403.f232a8","type":"comment","z":"c83f3edb.1885e8","name":"explicação functionVento","info":"Essa função functionVento está fazendo um filtro, para que só tenha a possibilidade de ser postado as velocidades do vento se ele estiver acima de 80km/h (que já é perigoso, bom de se alertar).","x":710,"y":640,"wires":[]},{"id":"840ba311.5f3ee","type":"comment","z":"c83f3edb.1885e8","name":"ExplicaçãoFunçãoConversãoJson","info":"Nas funções dessa linha logo após o arduino, estamos pegando os valores que chegam no formato string do arduino, do serial, que já está no formato json, e transformamos de fato em 3 informações diferentes em formato json, para que sejam utilizados nos seus fluxos corretos.","x":580,"y":240,"wires":[]},{"id":"4885e944.450f18","type":"comment","z":"c83f3edb.1885e8","name":"Explicação TransformString","info":"As funções TransformString estão implementadas para que possamos pegar os valores json que separamos anteriormente em cada fluxo, e estamos transformando esse valor json em uma string. Isso está sendo feito para que possamos passar esse valor pro firebase (nosso banco de dados NOSQL) e registrá-los.","x":940,"y":160,"wires":[]},{"id":"1265c42d.5c530c","type":"comment","z":"c83f3edb.1885e8","name":"Delay","info":"Esse nódulo está sendo feito para que quando chegue uma informação na entrada dele, ele espera 15 segundos e envia para o banco. Fizemos isso para que o banco não encha recebendo informações de 1 em 1 segundo.","x":1210,"y":160,"wires":[]},{"id":"1d10ec14.cc396c","type":"comment","z":"c83f3edb.1885e8","name":"Explicação arduino","info":"Na parte de configuração de input do arduino, estamos fazendo com que ele poste o input que ele receber de 1 em 1 segundo. Se não deixar configurado assim ele retém as informações por 5 minutos, e só manda as informações quando o limite de mensagem estoura em 32 mil e alguma coisa.","x":350,"y":440,"wires":[]},{"id":"c70fb049.543478","type":"serial-port","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"1000","bin":"false","out":"time","addchar":"","responsetimeout":"10000"},{"id":"17e66e49.ae383a","type":"mqtt-broker","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bf9e53ea.1e7cf","type":"ui_group","name":"NAC4","tab":"f5ed630f.5ead8","order":1,"disp":true,"width":"6","collapse":false},{"id":"64edffe7.b85d68","type":"firebaseCertificate","firebaseurl":"poasmartcity-default-rtdb","loginType":"none"},{"id":"f5ed630f.5ead8","type":"ui_tab","name":"NAC4","icon":"dashboard","disabled":false,"hidden":false}]